<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Quick Book Site Feedback </h1>
     <p>
       Subject Written By User :- <%=@paramssubject%>
     </p>
     <p>
       Containt Written By User :- <%=@paramsbody%>
     </p>
     <p>
       Email Of User :- <%=@paramsemail%>
     </p>
      
      
     
    <p>
      For login to site,just follow link :-  <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day !!!!!</p>
  </body>
</html>
