<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Qucikbook OpenERP Data Migration Is Done. Please See Your Openerp </h1>
    <h3>Your Openerp Details Given Are As Follows</h3>
    <p>
       Url:- <%= @user.erp.url %>.<br/>
    </p>
    <p>
       Database:- <%= @user.erp.database %>.<br/>
    </p>
    <p>
       your username is:- <%= @user.email %>.<br/>
    </p>
    <p>
      For login to site,just follow link:-  <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day !!!!!</p>
  </body>
</html>