 
<div id="left">
  <div class="text">
    <p class="notice"><%= @notice %></p>
<h1>Editing OpenERP Server Details</h1>

<%= render 'form' %>
<!--
<%#= link_to 'Show', @erp %> |
<%#= link_to 'Back', erps_path %>
-->
</div>
  </div>
  