 
      <p class="notice_middle">
    <%if  @user.errors.messages.has_key? :email   %>
      <!--
      here also i need to check if the message is also not blank because its showing on first page also. that is
      on first time comes on page it should not show the message 
      -->
      <%if !@user.errors.messages[:email][0].blank?%>
            Email  <%=@user.errors.messages[:email][0] %>
      <%end%> 
    
    <%end%>
    </p>
       <%if !@user.errors.messages[:email][0].blank?%>
    <script>
 $(function ()
                {
       var aTag = $(".notice_middle");
    $('html,body').animate({scrollTop: aTag.offset().top},'slow',callback);
    
  
 });       
    function callback(){
         var aTag = $(".notice_middle");
    
        aTag.addClass("highlight"); 
      
    }
                </script>
            <%end%> 
    
    
  <div class="container">
  
  
  <div class="" style="text-align: center;margin: 10px;font-size: 15px;">Forgot your password?</div>
     <div class="login_coloumn" style="clear:both">
 <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
 <table width="274" height="90" border="0" align="center">
  
 
  <tr>
    <td height="35" colspan="2"> 
     
         
          <%= f.email_field :email,:placeholder=>"Email",:class=>"textfieldclass" %>
        
       <div>
    

    
    </div>
       </td>
  </tr>
  
  <tr>
 
    <td width="85"> 
      <label>
        <%= f.submit "Reset Password" ,:class=>"",:id=>"migration_button" %>
        
        </label>
         </td>
  </tr>
</table>
   <% end %>    
       
 
 </div>
 
 
 </div>
