<style>
  .row{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
  }  
.row h1 {
    color: #676767;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 0px;
}
.row p.intro {
    font-size: 13px;
}
.row h3 {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0px 0 5px;
}
</style>
<div class="row">
<p>
<h1>
  Pragmatic Techsoft Pvt. Ltd. How To Use
</h1>
</p>
<p class="intro">
 <strong>  Welcome to  Quickbook Data Migration.
 </strong>
</p>
<p class="intro">
  <strong>Steps You Need To Follow While Doing An Migration From QiockBooks To Openerp.</strong>
</p>
<p class="intro">
 <strong>In the first step</strong> you need to register and login into a web site.and first need to click on create a database link. 
 which will create a database at background. This is the database where you will transfer your quickbooks data through
 a real access book trial version software.
</p>
<p class="intro">
  <strong>In the second step</strong> you need to doanload a real access book softeware trial version.For that purpose you need to register 
  and login to there web sites as the link provided in the website. this software is used only for transfering your quickbooks
  data to our server mysql.  
  
</p>
<p class="intro">
 <strong>  In the third step</strong> you need to download an openerp module and need to install in your openerp database.
   This is the openerp where you need to actually migrate an quickbooks data.
</p>
<p class="intro">
   <strong>In the fourth step </strong>you will need to provide us an openerp url without an http word. e.g
   <ul>
     <li>
       database Name :- name of your openerp database where you have installed our module and where you need to 
                        migrate an quickbook. 
     </li>
     <li>
       user Name :-    name of your openerp user name for the above database.
     </li>
     <li>
       Password :-    name of your openerp password for the above database.
     </li>
     <li>
     url :- openerp-data-migration.com
     <br/>
     or
     <br/>
     openerpdatamigration.com  
    </li>
    <li>
      port :- your xml rpc port to access and insert an data.
    </li>  
      
    
</p>
 </div>
<style>
    .defstep{
    font-weight: bold !important;
    font-size: 13px !important;
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: baseline;
    color: #2f394e !important;
    list-style-type: decimal;
    text-align: justify;
  }
  strong{
    color: #2f394e;
  }
  </style>
 
</div>
