 
		<div style="float:left">
			 
			<div class="section">
				<div class="article">
					<h2>Free</h2>
					<p>
	 
          <strong>Charts Of Accounts</strong><br/>
          <strong>Customer</strong><br/>
          <strong>Supplier</strong><br/>
          <strong>Employee</strong>
           
      				</p>
                                <p  style="padding-top:45px;padding-bottom:0px;position:absolute"><b>
                                <%= link_to  "Migrate" ,url_for(:action => 'index', :controller => 'payments',:id=>"free") %></b>
	 			</p>
                                </div>
 			</div>
		</div>
	<div style="float:left">
			 
			<div class="section">
				<div class="article">
                                  <h2>Standard</h2>
					<p>
           <strong>Charts Of Accounts</strong><br/>
           <strong>Customer</strong><br/>
           <strong>Supplier</strong><br/>
           <strong>Employee</strong><br/>
           <strong>Products</strong>
      				</p>
                                <p  style="padding-top:22px;padding-bottom:0px;position:absolute">
                                  <b>
                                    <%= link_to  "Migrate" ,url_for(:action => 'index', :controller => 'payments',:id=>"standard") %>       
             
                                    </b>
                                </p>
                                                     
				</div>
				 
			</div>
		</div>
<div>
			 
			<div class="section">
				<div class="article">
					<h2>Premium</h2>
					<p>
           <strong>Charts Of Accounts</strong><br/>
           <strong>Customer</strong><br/>
           <strong>Supplier</strong><br/>
           <strong>Employee</strong><br/>
           <strong>Products</strong><br/>
           
            <strong>Inventory</strong>
      				</p>
                                 
                                 <p  style="margin-top:-22px;position:absolute">
                                  <b>
                                    <%= link_to  "Migrate" ,url_for(:action => 'index', :controller => 'payments',:id=>"premium") %>       
             
                                    </b>
                                </p>
                                  
				</div>
				 
			</div>
		</div>