<style>
  h1{
    margin-bottom: 10px;
    margin-top: 10px;
    
  }
  </style>

    	<div class="meddle2">
          
        	<h1> 
           About us-</h1>
<p>
Pragmatic is a global open source enterprise software development, consulting and products company. Our philosophy is to use Open Source tools and technologies to provide cost effective and green solutions for our customers. 
</p>
<p>
We have expertise in Enterprise Resource Planning (ERP), Customer Relationship Management (CRM), Human Resource Management (HRM), Business Intelligence, Mobile Development, Data and System Integration, and Web Design and Development. We have served Hospitality, Medical, Education, Manufacturing, E-commerce, Retail, Distribution among other industries. 
</p>
<p>
We also have products in the Hospitality (Hotel, Restaurant, Tours and Travels), Retail POS, Medical, Construction, Fleet, School, Training, Retail and Insurance Verticals       
</p>
<p style="font-size: 14px;">   
        Are you a QuickBook User?
        <br/>
Do you intend to migrate to OpenERP?
<br/>
Are you facing challenges in migrating crucial data like customer list,supplier,product,inventory and accounts details?
<br/>
Do you want a hassle free master data migration from quick books to OpenERP?
</p>
<p>
Pragmatic offers one stop solution for data migration from Quickbooks to OpenERP. Quickbooks OpenERP data migration will help immensely manage your critical data which is vital for every business growth.
</p>
<p>
<strong>
Try for free and get up and running in no time.
</strong>
</p>
        
        </div>        
 