<style>
  h1{
    margin-bottom: 10px;
    margin-top: 10px;
    
  }
  </style>

    	<div class="meddle2">
          
        	<h1>Overview</h1>
            <div class="text">We are a dynamic and fast growing company committed towards creating value for our customers. Located in<b> Pune, India</b> the educational and IT hub of western India, we take pride in delivering rapid, customized open source enterprise applications following agile and lean software methods. Whether you are developing an application from scratch, working on an existing application or porting your application to a new platform or framework, we can meet your business needs.
              
              <p>
                  <strong>
                    We focus on making technology work for our clients by delivering quality offshore and outsourcing  solutions which reduce the Total Cost of Ownership (TCO) of IT development and operations. We develop business solutions that is not only functional, but shows a return on their  investment almost immediately to our clients.
                  </strong>
                  </p>
            </div>
            <h1>Key Differentiators</h1>
            <div class="text">Pragmatic Technology aims to continuously provide quality services and proven methodologies to clients, so that they can get substantial bottom line benefits. To reach these requirements, our company is focusing on certain aspects of IT services 
            </div>
            <div class="icon">
              <%=image_tag "globall.png"%>
               
            
            </div><h1>Global Delivery Model</h1>
            <div class="text">This ensures Pragmatic Technology to provide seamlessly implementation of Open Source solutions to clients across the world with hub in India, thanks to its global experience, technical expertise and effective process. 
            </div>
            <div class="icon">
               
            <%=image_tag "management.png"%>
              
            </div><h1>Management of talented pool of resources</h1>
            <div class="text">Our company is selecting the best resources fitting with its philosophy and technical requirement. It is providing them continuous training to increase their skills and motivation. 
            </div>
             <div class="icon">
                
             <%=image_tag "solutions.png"%>
             </div><h1>Solution Implementation Approach</h1>
            <div class="text">Based on Agile methodology, Pragmatic Technology implementation approach is robust and proven. Taking care to client expectations during the whole project, this approach provides delivery on time and helps to mitigate risks and integration challenges.</div>
        </div>        
 