 <style>
   .meddle2{
     line-height: 30px;
   }
   </style>
<div class="meddle2">
    	<div class="left2">
        	<h1 class="h1style">Contact details</h1>
            <table cellspacing="0" cellpadding="0" border="0" style="width: 161%; height: 16px; border-collapse: collapse;">
				<tbody>
					<tr>
						<td>
                            <table cellspacing="10" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                            <td><img border="0" alt="india" src="/assets/india-icon.jpg"></td>
                            <td style="width: 10px;">&nbsp;</td>
                            <td>
                            <h3>India</h3>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            </td>
                            <td style="width: 20px; border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td>
                            <table cellspacing="10" border="0">
                            <tbody>
                            <tr>
                            <td><img border="0" alt="united-states" src="/assets/united-states-icon.jpg"></td>
                            <td style="width: 10px;">&nbsp;</td>
                            <td>
                            <h3>USA</h3>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            </td>
                            <td style="width: 20px; border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            
                            <td>
<table border="0" cellspacing="10">
<tbody>
<tr>
<td><img border="0" alt="" src="/assets/france-icon.jpg"></td>
<td style="width: 10px;">&nbsp;</td>
<td>
<h3>France</h3>
</td>
</tr>
</tbody>
</table>
</td>
                          
                            </tr>
                            <tr>
                            <td valign="top" align="left">Pragmatic Techsoft Pvt. Ltd.<br>Office No. 210/211, West Wing,<br>Aurora Towers, MG Road,<br>Pune 411001, Maharashtra, India.<br><br></td>
                            <td valign="top" align="left" style="border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td valign="top" align="left">Pragmatic Techsoft Pvt. Ltd.<br>7738 Kildare Avenue,<br>Skokie IL 60076<br><br></td>
                            <td valign="top" align="left" style="border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td valign="top" align="left">Pragmatic Techsoft Pvt. Ltd.<br>France</td>
                            
                            </tr>
                            <tr>
                            <td valign="top" align="left">Phone: +91 (20) 41201035</td>
                            <td valign="top" align="left" style="border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td valign="top" align="left">Phone: +1 619 488 2759</td>
                            <td valign="top" align="left" style="border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td valign="top" align="left">Phone: +33 977 218 786</td>
                            </tr>
                            <tr>
                            <td valign="top" align="left">Call Sales: +91 (20) 41322895</td>
                            <td valign="top" align="left" style="border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td valign="top" align="left">Call Sales: +1 619 488 2759</td>
                            <td valign="top" align="left" style="border-left: 1px dashed #a2a2a2;">&nbsp;</td>
                            <td valign="top" align="left">Call Sales: +33 977 218 786</td>
                        </tr>
                     </tbody>
                 </table>            
        </div>        
        <div class="right2">
                 <div style="padding-top: 20px;">
                 <%=image_tag 'reach-us.png' ,:style=>"float:left;"%>  
<h1 class="h1style" >Reach us</h1>
                 </div>
                
                 
            <table width="100%" cellpadding="2" cellspacing="2" border="0">
            	<tr>
                	<td><b>Email:</b></td>
                    <td><a href="mailto:sales@pragtech.co.in">sales@pragtech.co.in</a></td>
                </tr>
                <tr>
                	<td><b>Skype:</b></td>
                    <td>pragtech</td>
                </tr>
                <tr>
                	<td><b>GTalk:</b></td>
                    <td><a href="mailto:sales@pragtech.co.in">sales@pragtech.co.in</a></td>
                </tr>
            </table>
                <div style="height: 20px; clear: both;"></div>
       
        	<div class="icon" style="padding-top: 20px;"><img src="/assets/feed-back.png" style="float:left"/>

<h1 class="h1style">Feedback</h1>
</div>
            	 
                   <br/><br/><br/>
              <form accept-charset="UTF-8" action="/feedback" method="post" onsubmit="return check_validation();">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            		<table width="100%" cellpadding="2" cellspacing="2" border="0" style="padding-left:10px">
            			<tr>
                			<td><br/>Email:<br/><input name="email" type="text" size="40" id="email"/></td>                   
                		</tr>
               			<tr>
                			<td><br/>Subject:<br/><input name="subject" type="text" size="40" id="subject"/></td>
                		</tr>
                		<tr>
                			<td><br/>Message:<br/><textarea rows="6" cols="46" name="message" id="message"></textarea></td>
                		</tr>
                        <tr>
                        	<td>
                                  <input type="submit" style="width: 100%" value="Send Message" class="button_done" id="migration_button_shared_sign_up" >
                                </td>
                        </tr>
            	</table>
            </form>
        </div>
</div>
 
 <script>
   
   function check_validation(){
      
      var check_form = true;
      
     if(!IsEmail($("#email" ).val()))
        {
          alert("Please Enter Email");
          check_form = false;
          return check_form;
        }
        
            if(!$("#subject" ).val())
        {
          alert("Please Enter Subject");
          check_form = false;
          return check_form;
        }  
        
            if(!$("#message" ).val())
        {
          alert("Please Enter Message");
          check_form = false;
          return check_form;
        }
                
        return check_form;
     
   }
   
   
      function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}
   
 </script>
