@charset "utf-8";
/* CSS Document */
body
{
	margin:0px 0px 0px 0px ;
	background:#edebe8;
}

h1 {
    color: #000000;
	font-size:20px;
    font-family:"Gill Sans MT";
    font-weight: bold;
    margin: 0 0 0 10px;
}
h2 {
    color: #000000;
	font-size:20px;
    font-family:"Gill Sans MT";
    font-weight: bold;
    margin: 0 0 0 0px;
	text-align:center;
}
h4 {
    color: #000000;
    font-size: 14px;
    line-height: 180%;
    text-decoration: none;
}
p, ul, ol {
    font-size: 13px;
    line-height: 180%;
    margin: 0;
	text-align:left;
	padding:10px 10px 0px 10px ;
}
ul, ol {
}

a:link, a:visited {
    color: #2184BE;
    text-decoration: none;
}
a:hover {
    color: #325412;
    text-decoration: underline;
    background: none;
}

#main
{
	width:100%;
	margin:48px auto 0px auto;
	height:auto;
	overflow:hidden;
}
#main2
{
	width:1234px;
	margin:0px auto 0px auto;
	height:auto;
	overflow:hidden;
}
#header
{
	background:url('header_bg.png');
	width:100%;
	height:549px;
	overflow:hidden;
	margin:0px 0px 0px 0px ;
}
.Messages{
    height:30px;
}
.topbar
{
	width:800px;
	height:auto;
	/*margin:0px 50px 0px 250px ;*/
}
.logo
{
	margin:0px 0 1px ;
	float:left;
       
}
.serchbar
{
	/*background:url('serch_bar.png');*/
	background-repeat:no-repeat;
	width:446px;
	height:80px;
	margin: 0px 0px 0px 0px;
	overflow:hidden;
        text-align:center;
	
}

.navibar
{
	background:url('menubar.png');
	width:795px;
	height:43px;
	margin:0px 0px 0px 0px ;
	overflow:hidden;	
}
.menu
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#79a100;
	font-weight:bold;
	text-align:center;
	padding:15px 25px 0px 25px;
	float:left;
}
.menu a:link {
   font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#79a100;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.menu a:visited {
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#79a100;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.menu a:hover {
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#79a100;
	font-weight:bold;
	text-align:center;
	text-decoration:blink;
        background: none;
}
.flash
{
	width:100%;
	height:312px;
	overflow:hidden;
	margin:10px 0px 0px 0px ;
}

#contaner
{
	width:800px;
	height:auto;
	background:#FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius:5px 5px 5px 5px;
	overflow:hidden;
	margin:20px 200px 20px 230px ;
}

.left
{
	width:350px;
	height:auto;
	margin:10px 2px 10px 10px ;
	overflow:hidden;
	float:left;
}

.leftsignup
{
	width:410px;
	height:auto;
	margin:10px 2px 10px 10px ;
	overflow:hidden;
	float:left;
}


.left2
{
	
	width:426px;
	height:auto;
	margin:10px 10px 10px 0px ;
	overflow:hidden;
	float:left;
}
.left1
{
	background:url('free.png');
	width:213px;
	height:313px;
	margin:10px 10px 10px 60px ;
	overflow:hidden;
	float:left;
}
.meddle2
{
	width:760px;
	height:auto;
	margin:20px 20px 10px 20px ;
	overflow:hidden;
	float:left;
}
.meddle
{
	background:url('stand.png');
	width:213px;
	height:310px;
	margin:10px 10px 10px 10px ;
	overflow:hidden;
	float:left;
}
.text {
	font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 180%;
    margin: 0;
	text-align:justify;
	padding:10px 10px 0px 10px ;
}
.text1 {
	font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 180%;
    margin: 0;
	text-align:center;
	padding:50px 10px 0px 60px ;
        height:82px;
}
.text12 {
	font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 180%;
    margin: 0;
	text-align:center;
	padding:50px 10px 0px 60px ;
        height:170px;
}

.right2
{
	width:420px;
	height:auto;
	margin:10px 0px 10px 0px ;
	overflow:hidden;
	float:left;
}
.right1
{
	background:url('perem.png');
	width:213px;
	height:313px;
	margin:10px 10px 10px 10px ;
	overflow:hidden;
	float:left;
         
}
.btn
{
	margin:32px 0px 0px 30px ;
}
.icon
{
    margin:0px 15px 0px 0px ;
    float:left;
}
.right
{
	width:410px;
	height:auto;
	margin:10px 3px 10px 10px ;
	overflow:hidden;
	float:left;
}
.video
{
	margin:10px 5px 0px 5px ;
}

#footer
{
	background:#b40004;
	width:100%;
	height:200px;
	margin:20px 0px 0px 0px ;
	overflow:hidden;
}
.footer_text_bar
{
	width:800px;
	height:auto;
	 margin: 22px 206px 0 345px;
	overflow:hidden;
}
.footer_text
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCCCC;
	font-weight:normal;
	text-align:center;
	padding:45px 50px 0px 0px;
}
.footer_menu
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding:15px 10px 0px 10px;
	float:left;
}
.footer_menu a:link {
   font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.footer_menu a:visited {
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.footer_menu a:hover {
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#79a100;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.login{
    float:right  ; 
    margin-right: 20px;
    margin-top: -21px;
    
}

.alert{
    font-size:12px;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
      
}

.notice{
    
    font-size:12px;
    font-weight: bold;
    color: #008000;
    text-align: center;
    
}

.lable
{
    
    font-size:12px;
    font-weight: bold;
    width: 115px;
    
}
.button_done {
    background: url("submit-button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    cursor: pointer;
    display: block;
    font-family: 'FuturaCondensedBQRegular';
    font-size: 16px;
    font-weight: normal;
    height: 44px;
    padding: 0;
    text-shadow: 1px 1px 0 #F1F1F1;
    width: 147px !important;
}

.container {
  margin: auto;
  width: 800px; }
  



  
  .new_formbg { width:400px; height:auto; float:left; margin:auto; background: rgba(0, 0, 0, 0.08); border-radius: 4px; top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px; padding:3px; }
  
.mainbg {width:100%; height:auto; float:left; margin:auto; background-color:#FFFFFF; z-index:-1; border-radius:8px; }  

.new_formheadingbg {
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  height:40px; }
  
.textfieldclass {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-outline-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C4C4C4 #D1D1D1 #D4D4D4;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #404040;
    height: 34px;
    margin: 5px;
    outline: 5px solid #EFF4F7;
    padding: 0 10px;
    width: 315px;
	
	}
        
        .textfieldclass1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-outline-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C4C4C4 #D1D1D1 #D4D4D4;

    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #404040;
    height: 34px;
    margin: 5px;
    outline: 5px solid #EFF4F7;
    padding: 0 10px;
    width: 154px;
	
	}
	
	
#newsubmit_button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(125, 180, 1)),to(rgb(104, 151, 4)));
	background-image: -webkit-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -moz-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -o-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -ms-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7db304', EndColorStr='#689704');

    border-radius: 15px 15px 15px 15px;
    
    border-style: none solid solid;
    border-width: 1px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 12px;
	text-align:center;
    font-weight: 400;
    margin: 0 auto;
    padding: 5px 17px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
	padding-top:7px; padding-left:13px;
	margin-top:2px;
	
	
}

#newsubmit_button:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-color:#0099FF;
	opacity:0.9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(125, 180, 1)),to(rgb(104, 151, 4)));
	background-image: -webkit-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -moz-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -o-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -ms-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7db304', EndColorStr='#689704');

    border-radius: 15px 15px 15px 15px;
    
    border-style: none solid solid;
    border-width: 1px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 12px;
	text-align:center;
    font-weight: 400;
    margin: 0 auto;
    padding: 5px 17px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
	padding-top:7px; padding-left:13px;
	margin-top:2px;
	
	
}


.footer {width:400px; height:40px; float:left; margin:auto; line-height: 40px;
   background: #f3f3f3;
  border-top: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  height:40px; border-bottom-right-radius:8px; border-bottom-left-radius:8px; }
  
  
.signinbutton { width:100%; height:30px; float:right; margin:auto; } 
  
.signinbutton ul { width:100%; height:30px; float:right; margin:auto; }  
  
.signinbutton ul li { float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; list-style:none; text-align:right; padding:5px; margin-right:20px;  }  

.signinbutton ul li a { float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; list-style:none; text-decoration:none; text-align:right;  }   
.signinbutton ul li a:hover { float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#EE6847; list-style:none; text-decoration:none; text-align:right;  }  


/*...................................................Steps To Follow Page...............................................*/

.stepstofollow_coloumn {width:92%; height:auto; float:left; margin:auto; border:solid; border-color: #F3F3F3; 
                       border-width:1px; border-radius:10px;margin-left: 2%; 
                       margin-bottom: 23px;
}

.stepsto_followheadingbg {background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #999999;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px #F5F5F5;
	color: #666666;
	width:100%;
	height:34px;
	text-align:left;
	border-radius: 8px 8px 0 0;
	
	/* background-color:#333333;  */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(249, 248, 248)),to(rgb(201, 200, 199)));
	background-image: -webkit-linear-gradient(top, rgb(249, 248, 248), rgb(201, 200, 199));
	background-image: -moz-linear-gradient(top, rgb(249, 248, 248), rgb(201, 200, 199));
	background-image: -o-linear-gradient(top, rgb(249, 248, 248), rgb(201, 200, 199));
	background-image: -ms-linear-gradient(top, rgb(249, 248, 248), rgb(201, 200, 199));
	background-image: linear-gradient(top, rgb(249, 248, 248), rgb(201, 200, 199));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f8f8', EndColorStr='c9c8c7'); }
	
.steptofollowtext {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:35px;
	font-weight:bold; margin-left:15px; }



.firstselecttext {font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #666666; margin-top:10px; margin-left:15px;  }

p {line-height:18px; /*border-bottom:dotted; border-bottom-color:#CCCCCC; border-bottom-width:1px;*/ }


#startmigration_button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(125, 180, 1)),to(rgb(104, 151, 4)));
	background-image: -webkit-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -moz-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -o-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -ms-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7db304', EndColorStr='#689704');

    border-radius: 15px 15px 15px 15px;
    
    border-style: none solid solid;
    border-width: 1px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 12px;
	text-align:center;
    font-weight: 400;
    margin: 0 auto;
    padding: 5px 17px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
	padding-top:7px; padding-left:13px;
	margin-top:4px;
	float:left;
	margin-left:15px;
	margin-bottom:20px;
	font-weight:bold;
	
	
}

#startmigration_button:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-color:#0099FF;
	opacity:0.9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(125, 180, 1)),to(rgb(104, 151, 4)));
	background-image: -webkit-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -moz-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -o-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: -ms-linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	background-image: linear-gradient(top, rgb(125, 180, 1), rgb(104, 151, 4));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7db304', EndColorStr='#689704');

    border-radius: 15px 15px 15px 15px;
    
    border-style: none solid solid;
    border-width: 1px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 12px;
	text-align:center;
    font-weight: 400;
    margin: 0 auto;
    padding: 5px 17px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
	padding-top:7px; padding-left:13px;
	margin-top:4px;
	float:left;
	margin-left:15px;
	margin-bottom:20px;
	font-weight:bold;
	
}

.footer {width:100%; height:85px; float:left; margin:auto; line-height: 40px;
   background: #f3f3f3;
  border-top: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
   border-bottom-right-radius:8px; border-bottom-left-radius:8px;
  margin-top:15px; }


.footer1 {width:100%; height:40px; float:left; margin:auto; line-height: 40px;
   background: #f3f3f3;
  border-top: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
   border-bottom-right-radius:8px; border-bottom-left-radius:8px;
  margin-top:15px; }

.centerdiv{
    padding:11px;
    margin:11px;
    
}
inputs:-webkit-input-placeholder { 
    color:    #b5b5b5; 
} 
 
inputs-moz-placeholder { 
    color:    #b5b5b5; 
} 
 
 .inputs  { 
 width:270px; 
padding: 15px 25px; 
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 400; 
font-size: 14px; 
color: #9D9E9E; 
text-shadow: 1px 1px 0 #256; 
background: #FFF; 
border: 1px solid #FFF; 
border-radius: 5px; 
border-radius: 5px; 
box-shadow: inset 0 1px 3px #000; 
-moz-box-shadow: inset 0 1px 3px #0000; 
-webkit-box-shadow: inset 0 1px 3px #000; 
} 
.inputs:focus { 
   background: #DFE9EC; 
color: #414848; 
color: #414848; 
box-shadow: inset 0 1px 2px #000; 
-moz-box-shadow: inset 0 1px 2px #000; 
-webkit-box-shadow: inset 0 1px 2px #000; 
    outline:0; 
} 
  .inputs:hover   { 
background: #DFE9EC; 
color: #414848; 
} 

.form_class{
    margin:0px;
    padding:0px;
    float:left;
}



#migration_button{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #2184BE;
    border-radius: 15px 15px 15px 15px;
    border-style: none solid solid;
    border-width: 1px;
    box-shadow: 0 2px 0 #255 inset;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 0;
     
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-top: 10px;
    margin-right: 10px;

    min-width: 57px;
     padding: 3px 13px 4px;
 }

#migration_button_shared_sign_up{
       -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #2184BE;
    border-radius: 15px 15px 15px 15px;
     
    border-width: 1px;
    box-shadow: 0 2px 0 #255 inset;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: -4px;
    min-width: 57px;
    padding: 4px 25px 9px;
    text-decoration: none;
}

#start_migration_button{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #2184BE;
    border-radius: 15px 15px 15px 15px;
    border-style: none solid solid;
    color:#FFFFFF;
    border-width: 1px;
    box-shadow: 0 2px 0 #255 inset;
    margin-top:4px;
    margin-left:15px;
    margin-bottom:20px;
    font-weight:bold;  
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 15px;
    min-width: 92px;
    padding: 4px 8px 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 24px;
 }

.firstclick{
    margin: 0px;
    float:left;
}

.h1style{
              color: #2F394E;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    padding-left: 35px;
    margin-bottom:  20px;
    text-transform: capitalize;
            
        }

 

.bannerbg {width:100%; height:312px; float:left; margin:auto; background-color:#b50104; }

.banner_container {width:1200px; height:312px; margin:auto;  }

.quickbook_coloumn {width:250px; height:284px; float:left; margin:auto; margin-left:30px; margin-top:10px;  } 

.arrowflash {width:80px; height:auto; float:left; margin:auto; margin-top:150px; }

.video_coloumn {width:415px; height:284px; float:left; margin:auto; /*margin-left:20px;*/  } 

.openerp_coloumn {width:289px; height:284px; float:right; margin:auto; margin-left:30px; margin-top:10px; margin-right:20px; } 

.quickbooktext {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; font-style:italic; font-size:15px; line-height:20px; margin-top:10px;  }


.sm {font-size:10px; color:#000; margin-bottom:2px}
.centerdivs{
margin-left:50px;

}

.newbtn_orange {
	
        background: #669900;
	background-image: -webkit-linear-gradient(bottom, #77b200  0%, #669900 100%);
	background-image: -moz-linear-gradient(bottom, #77b200) 0%, #669900 100%);
	background-image: -o-linear-gradient(bottom, #77b200) 0%, #669900 100%);
	background-image: -ms-linear-gradient(top, #77b200 0%, #669900 100%);
	background-image: linear-gradient(bottom, #77b200) 0%, #669900 100%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #77b200), color-stop(1, #669900) );
	background-image: linear-gradient(to bottom, #77b300 0%, #669900 100%);
	text-transform: uppercase;
	text-align: center;
	padding: 6px 25px;
	color: white !important;
	-webkit-box-shadow: inset 0px 0px 2px #255;
	box-shadow: inset 0px 0px 2px #255;
	border-radius: 20px;
	border: 1px solid #9ccb3d;
	
	display: inline-block;
	vertical-align: middle;
	float: left;
	min-width: 90px;
	cursor: pointer;
	text-shadow: #0 0px 1px 1px;
}
.newbtn_orange:hover { color:white; background: #669900 !important; }

